section
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading 
          == "#{@kmap["data"]}"
        hr.primary
        p
        form method='get' action='/kmap/#{@current_uid}/#{@course_id}/makekmap'
          button.btn.btn-danger.btn-lg.btn-block type='submit'
            i.fa.fa-repeat aria-hidden="true"  如有新增講義請按
        p
        .panel.panel-primary
          .panel-heading 有知識地圖的章節
          .panel-body
            table.table.table-striped.table-hover
              thead
                tr
                  th 章節順序
                  th 章節名稱
                  th
                  th
              tbody
                - @kmap_chid["content"].each_with_index.map do |chid, index|
                  - @ordered_folder.each do |chapter|
                    - if chapter[:chapter_order] == index + 1
                      tr
                        td
                          == chapter[:chapter_order]
                        td
                          == "#{chapter[:name]}"
                        td
                          button.btn.btn-success data-target="##{index}" data-toggle="modal" data-backdrop="static" data-keyboard="false" type='submit' onclick="showtfidf(#{index}, #{chid['kmap']}, #{chid['chapter_id']})"
                            i.fa.fa-plus aria-hidden="true"  顯示知識地圖

                  div id="#{index}" class="modal fade" role="dialog"
                    .modal-dialog.modal-lg
                      .modal-content
                        .modal-header
                          button.close data-dismiss="modal" type="button" onclick="remove()"  &times;
                          h4 顯示
                        .modal-body
                          .container-fluid
                            div.row
                              h2.col-md-6 style="float:left;" Title
                              h2.col-md-6 style="float:left;" TFIDF
                            div.row
                              div.col-md-4 id="tag_checkbox#{chid['chapter_id']}" align="left" style="height:300px;width:400px;overflow:scroll;float:left;" 
                              div.col-md-4 id="tag_checkbox_#{chid['chapter_id']}" align="left" style="height:300px;width:400px;overflow:scroll;float:left;"
                            div.row
                              input.col-md-4.col-md-offset-4 id="slider_#{index}" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="#{chid['range']}" data-slider-step="1" data-slider-value="10"
                            div.row
                              button#close.btn.btn-danger.btn-md type="button"  onclick="choice(count,post_url)" 確認
                        .modal-footer 
                          button#close.btn.btn-danger type="button"  onclick="kpoint(#{chid['chapter_id']})" Create
                          / button.button onclick="window.open('http://www.site.com');" 
                          /   span.icon Open
                          button#close.btn.btn-default data-dismiss="modal" type="button"  onclick="remove()" Close
                  
                  css:
                    #ex1Slider .slider-selection {
                        background: #BABABA;
                    }
                    input[type=checkbox]:checked + label.strikethrough{
                      text-decoration: line-through;
                    }
                  javascript:
                    var fill = d3.scale.category20();
                    var count = 0;
                    var post_url = "";
                    var keyword = [];
                    var new_keyword = [];
                    var now_chid = 0;
                  
                    function remove(){
                      location.reload();
                    }
                    
                    function choice(count, post_url){
                        post_url = "/kmap/#{@current_uid}/#{@course_id}/chapter/"+now_chid+"/postkmap";
                        var listToDelete = [];
                        var checkboxes1 = document.getElementsByName('check1');
                        var checkboxes2 = document.getElementsByName('check2');
                        for (var i=0, n=checkboxes1.length;i<n;i++) {
                            if (checkboxes1[i].checked){
                                listToDelete.push(checkboxes1[i].value);
                            }
                        }
                        for (var i=0, n=checkboxes2.length;i<n;i++) {
                            if (checkboxes2[i].checked){
                                listToDelete.push(checkboxes2[i].value);
                            }
                        }
                        
                        //---------post 新的keyword
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', post_url, true);
                        xhr.onload = function () {
                            console.log(this.responseText);
                        };
                        xhr.send(JSON.stringify(listToDelete));
                    }
                    
                    function kpoint(chid){
                    $.ajax({
                        url: "/kmap/" + #{@current_uid} + "/" + #{@course_id} + "/" + chid + "/show/kmap",
                        type: "GET",
                        dataType: "json",
                        success: function(response) {
                          obj = response['url']['url'];
                          window.open(obj);
                        },

                        error: function(response) {
                          console.log(response);
                          alert("ERROR!!!");
                        },
                      });
                    }
                    
                    function compare(a, b) {
                        if (a.size < b.size)
                            return 1;
                        if (a.size > b.size)
                            return -1;
                        return 0;
                    }
                  
                    function showtfidf(index, obj, chid) {
                        var x = $('#slider_'+index).slider();
                        x.on('slideStop', function(val) {
                          $.ajax({
                              url: "/kmap/" + #{@current_uid} + "/" + #{@course_id} + "/" + chid + "/" + val['value'] + "/show",
                              type: "GET",
                              dataType: "json",
                              success: function(response) {
                              function compare(a, b) {
                                  if (parseFloat(a.size) < parseFloat(b.size))
                                      return 1;
                                  if (parseFloat(a.size) > parseFloat(b.size))
                                      return -1;
                                  return 0;
                              }
                                
                                now_chid = chid;
                                keyword =[];
                                keyword_test =[];
                                count = 0;
                                count_test = 0;
                                obj = response['kmap']['top_tfidf'];
                                for(var objs in obj){
                                  if(obj[objs] == 'title'){
                                    count++;
                                    keyword.push({'text': objs, 'size': obj[objs]});
                                  }
                                  else{
                                    count_test++;
                                    keyword_test.push({'text': objs, 'size': obj[objs]});
                                  }
                                }
                                keyword_test.sort(compare);
                                for(var i=0; i < count_test ; i++){ 
                                  console.log(keyword_test[i])
                                }
                                var checkboxes1 ="";
                                var checkboxes2 ="";
                                var checkboxes ="";
                                checkboxes1 = "<FORM NAME=\"my_form1\" METHOD=POST TARGET>";
                                checkboxes2 = "<FORM NAME=\"my_form2\" METHOD=POST TARGET>";

                                for(var i=0; i < count ; i++){
                                    checkboxes1 += "<input type = \"checkbox\" value  = \""+keyword[i]['text']+"\""+"NAME=\"check1\""+"id = \""+i+"\">"+"</input>"+ " " +"<label class  = \"strikethrough\">"+ " " +keyword[i]['text']+"</label></br>";
                                }
                                for(var i=0; i < count_test ; i++){
                                    checkboxes2 += "<input type = \"checkbox\" value  = \""+keyword_test[i]['text']+"\""+"NAME=\"check2\""+"id = \""+i+"\">"+"</input>"+ " " +"<label class  = \"strikethrough\">" + " " +keyword_test[i]['text']+"\("+keyword_test[i]['size']+"\)</label></br>";
                                }
                                //checkboxes2 += "<INPUT TYPE=\"button\" VALUE=\"確認\" onClick=\"choice(count,post_url)\">";
                                document.getElementById('tag_checkbox'+now_chid).innerHTML = checkboxes1;
                                document.getElementById('tag_checkbox_'+now_chid).innerHTML = checkboxes2;
                              },

                              error: function(response) {
                                console.log(response);
                                alert("ERROR!!!");
                              },
                            });
                        });
                      now_chid = chid;
                      keyword =[];
                      count = 0;
                      
                      for(var objs in obj){
                        count++;
                        if(obj[objs]["order"]==null){
                          keyword.push({'text': objs, 'size': obj[objs]*2});
                        }else{
                          keyword.push({'text': objs, 'size': obj[objs]["order"]*50});
                        }
                      }
                      
                      var checkboxes ="";
                      checkboxes = "<FORM NAME=\"my_form\" METHOD=POST TARGET>";

                      for(var i=0; i < count ; i++){
                          checkboxes += "<input type = \"checkbox\" value  = \""+keyword[i]['text']+"\""+"NAME=\"check\""+"id = \""+i+"\">"+"</input>"+ " " +"<label class  = \"strikethrough\">" + " " +keyword[i]['text']+"</label></br>";
                      }
                      checkboxes += "<INPUT TYPE=\"button\" VALUE=\"確認\">";
                      document.getElementById('tag_checkbox'+now_chid).innerHTML = checkboxes;

                    };
